@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  /* Font-Family */
  --League-spartan: 'League Spartan', sans-serif;

  /* ### Primary */

  --Very-Dark-Magenta: hsl(300, 43%, 22%);
  --Soft-Pink: hsl(333, 80%, 67%);

  /* ### Neutral */

  --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
  --Light-Grayish-Magenta: hsl(300, 24%, 96%);
  --White: hsl(0, 0%, 100%);
}


body {
  font-size: 15px;
  font-family: var(--League-spartan);

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-description {
  text-align: center;
}

.card-description h1 {
  color: var(--Very-Dark-Magenta);
  font-size: 2.5rem;
  font-weight: 700;
}

.card-description p {
  color: var(--Dark-Grayish-Magenta);
  font-size: 1.1rem;
  line-height: 1.5;
}

.card-rated-style {
  text-align: center;
  background-color: hsla(303, 10%, 53%,0.2);
  border-radius: 10px;
}

.testimonial-list {
  border-radius: 10px;
  background-color: var(--Very-Dark-Magenta);
  margin-bottom: 20px;
  padding: 20px 50px;
  clear: both;
  
}

.testimonial-list img {
  float: left;
  border-radius: 50%;
}

.testimonial-list div p {
  margin-left: 60px;
  margin-top: 5px;
}

.testimonial-list p {
  color: var(--White);
}

.testimonial-list p span {
  color: var(--Soft-Pink);
}

.testimonial-description {
  padding-top: 30px;
  line-height: 1.5;
}

.card-rated-style p {
  color: var(--Very-Dark-Magenta);
  font-weight: 700;
  padding-top: 10px;
}

@media screen and (min-width: 400px) {
  .card {
    width: 920px;
    margin: 100px 0;
  }

  .content {
    display: flex;
    flex-direction: row;
  }

  .card-description {
    width: 410px;
    text-align: left;
  }

  .card-description h1 {
    margin-right: 70px;
    margin-bottom: 20px;
  }

  .card-description p {
    margin-right: 0px;
  }

  .card-rated {
    width: 400px;
  }

  .card-rated-style {
   display: flex;
   flex-direction: row;
   width: 300px;

  }

  .card-rated-style {
    width: 370px;
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
  }

  .card-rated-style p {
    padding-bottom: 10px;
    padding-left: 10px;
  }

  .card-rated-style img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
  }

  .rated-two {
    margin-left: 30px;
  }

  .rated-three {
    margin-left: 60px;
  }

  .testimonial {
    display: flex;
    flex-direction: row;
  }

  .testimonial-list {
    font-size: 0.697rem;
    margin-right: 20px;
  }

  .list-one {
    margin-top: 50px;
  }

  .list-two {
    margin-top: 65px;
  }

  .list-three {
    margin-top: 90px;
  }
}

@media screen and (max-width: 375px) {
  .card {
    width: 360px;
    padding: 50px 10px;
  }

  .card-description h1 {
    margin: 0 40px;
  }

  .card-description p {
    margin: 20px 8px;
  }

  .card-rated {
    margin-bottom: 40px;
  }

  .card-rated-style {
  padding: 20px 0;
  margin: 20px 0;
  }

  .attribution {
    display: none;
  }
}


.attribution {
  font-size: 15px;
  font-weight: bolder;
  text-align: center;
  padding: 0 0 20px 0;
}
.attribution a {
  color: var(--Very-Dark-Magenta);
}

.attribution a:hover{
  text-shadow: 2px 2px 2px var(--Soft-Pink);
  transition: 0.5s;
}
